@font-face {
    font-family: 'exo-regular';
    src: url('../fonts/Exo-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'laconic-regular';
    src: url('../fonts/Laconic_Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
  overflow: hidden;
}

.title {
  position: absolute;
  width: 100%;
  top: 5rem;
  text-align: center;
  font-family: 'laconic-regular';
  font-size: 10rem;
  color: white;
  opacity: .04;
  select: none;
  pointer-events: none;
}

.infoDiv {
  position: absolute;
  /*background-color: black;*/
  font-family: 'laconic-regular';
  color: white;
  opacity: .3;
  top: 0rem;
  left: 0rem;
  width: 20rem;
  padding: .5rem;
  /*box-shadow: inset 0 0 20px rgba(255,255,255,.5);*/
  select: none;
  pointer-events: none;
}

.dialog {
  position: absolute;
  background-color: black;
  font-family: 'laconic-regular';
  color: white;
  opacity: .5;
  /* bottom: 1rem;
  left: 1rem;
  width: 15rem;
  height: 7rem; */
  padding: 15px;
  box-shadow: inset 0 0 20px rgba(255,255,255,.5);
  select: none;
  pointer-events: none;
}

.close {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  font-family: 'laconic-regular';
  color: white;
  opacity: .5;
  padding: 6px;
  width: 4rem;
  text-align: center;
  box-shadow: inset 0 0 .4rem rgba(255,255,255,.5);
  pointer-events: all;
}

.close:hover {
  box-shadow: inset 0 0 .6rem rgba(255,255,255,.5);
}

.close:active {
  /*border: 2px solid #666;*/
  box-shadow: inset 0 0 .3rem rgba(255,255,255,.5);
}

.buttons {
  position: absolute;
  left: 0rem;
  top: 10rem;
}

.button {
  position: relative;
  width: 6rem;
  background-color: black;
  box-shadow: inset 0 0 .8rem rgba(255,255,255,.5);
  color: white;
  opacity: .5;
  padding: .6rem 0rem .6rem 0rem;
  margin: 0rem 0rem .5rem 0rem;
  font-family: 'laconic-regular';
  text-align: center;
}

.button:hover {
  box-shadow: inset 0 0 .6rem rgba(255,255,255,.5);
}

.button:active {
  /*border: 2px solid #666;*/
  box-shadow: inset 0 0 .3rem rgba(255,255,255,.5);
}

.active {
  
}